/*总体样式*/
* {
    color: rgb(255, 255, 255);
}

html {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(4, 101, 247, 0.7);
    background-image: url("pictures/wallhaven-1pd5vw.png");
    background-size: cover;
    background-repeat: no-repeat;

}

/*文本样式*/
h1 {
    /*字体*/
    font-family: "草书", KaiTi, "KaiTi_GB2312", serif;
    font-size: 30px;
    font-weight: bold;
    color: #751492;
    text-align: center;
    margin-top: 30px;
}
p {
    text-indent: 2em;
    font-family: "楷体", KaiTi, "KaiTi_GB2312", serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6em;
    margin-top: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}

/*超链接样式*/
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgba(4, 101, 247, 0.7);
}

/*表格样式*/
table {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-collapse: none;
}

/*窗口样式*/
.box {
    width: 100%;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.picturebox a img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    float: left;
}
.picturebox {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}
.picturebox a img:hover{
    transform: scale(1.1);
    
}

/*侧边栏样式*/
.sidebar {
    width: 250px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    float: left;
}
.sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar li {
    margin-bottom: 5px;
}